<div class='topTeamInfo'>
  <a href='#info' class='waves-effect grey darken-4 btn-large'> <b>{{this.name}} </b> </a>
</div>

<br />
<br />

<div class='teamInfo'>
  <div class='teamInfoContainer'>

    <img src='https://i.pinimg.com/originals/0f/f6/61/0ff661edacd5d8a6cfe1d43d55bc9da7.jpg' alt='' />
    <h4 id='info'>Info: {{this.description}}</h4>
    <h2>Players</h2>
    <ul>
      {{#each players}}
        <li><h4> {{this.username}}</h4></li>

      {{/each}}
    </ul>
    <h2>Current Tournaments</h2>
    <ul>
      {{#each tournaments}}
        <li><a class='waves-effect red darken-1 btn-small' href='/tournaments/{{this._id}}'> {{this.name}}</a> </li>

      {{/each}}
    </ul>
    <br />
    <div class='teamInfoAction'>
      <a class='waves-effect red darken-1 btn-large' href='/team/list/{{this._id}}'>Join Team</a>
      <a class='waves-effect red darken-1 btn-large' href='/team/list'>Back</a>
    </div>
  </div>
</div>
<br />