<div>
  <h1>Teams</h1>
</div>

<div>
  {{#each teamsList}}
    <div>
      <h3>{{this.name}}</h3>
      <h5>Current Tournaments</h5>
      <ul>
        {{#each tournaments}}
          <li><a href='/tournaments/{{this._id}}'> {{this.name}}</a> </li>

        {{/each}}
      </ul>
      <a href='/team/list/{{this._id}}/info'>Details</a>
      <a href='/team/list/{{this._id}}'>Join Team</a>
    </div>
  {{/each}}
</div>