
{{#if isAdmin}}

<div>

<div>
<h1>Players</h1>
<ul>
{{#each players}}
<li>{{this.username}} <a href='/user/team/{{../_id}}/{{this._id}}/remove'>remove Player</a></li>
{{/each}}

</ul>

</div>

<div>
  <h1>Select the players you want to Join </h1>

  {{#each filter}}

    <div>

      <h2> Username:{{this.username}}</h2>

      <form action='/user/team/{{../_id}}/{{this._id}}/join' method='POST'>

      <button class='btn waves-effect indigo darken-4' type='submit' name='action'>Join
        <i class='material-icons right'>person_add</i>
      </button>

      </form>

      <form action='/user/team/{{../_id}}/{{this._id}}/delete' method='POST'>

          <button class='btn waves-effect indigo darken-4' type='submit' name='action'>Reject
        <i class='material-icons right'>remove_circle</i>
      </button>

      </form>
    </div>

  {{/each}}
</div>
</div>

{{else}}

<h1>Only Admins can managment Teams</h1>
{{/if}}