<div class='topManagment parallax'>
  <a  href="#managment" class='waves-effect grey darken-4 btn-large'> <b> Managment </b> </a>
</div>



{{#if isAdmin}}

<div>

<div class='createUser'>
  
<div class='formContainerSign'>

<h1 id="managment">Players</h1>
<ul>
{{#each players}}
<li> <b>{{this.username}} </b><a class='waves-effect red darken-1 btn-small' href='/user/team/{{../_id}}/{{this._id}}/remove'>Remove player</a></li>
{{/each}}

</ul>


  <h1>Select the players you want to Join </h1>
  {{#each filter}}

    

      <h2> Username:{{this.username}}</h2>

      <form action='/user/team/{{../_id}}/{{this._id}}/join' method='POST' >

      <button class='waves-effect red darken-1 btn-small' type='submit' name='action'>Join
        <i class='material-icons right'>person_add</i>
      </button>

      </form>

      <form action='/user/team/{{../_id}}/{{this._id}}/delete' method='POST'>

          <button class='waves-effect red darken-1 btn-small' type='submit' name='action'>Reject
        <i class='material-icons right'>remove_circle</i>
      </button>

      </form>

     
    

  {{/each}}
  </br>
   <a class='waves-effect red darken-1 btn-large' href='/user/profile'>Back</a>
  </div>
</div>
</div>

{{else}}

<h1>Only Admins can managment Teams</h1>
{{/if}}