<div>
  <h1>Select the players you want to Join </h1>

  {{#each filter}}
    <div>

      <h2> Username:{{this.username}}</h2>

      <form action='/user/team/{{../_id}}/{{this._id}}/join' method='POST'>
        <button type='submit'>
          Join
        </button>

      </form>

      <form action='/user/team/{{../_id}}/{{this._id}}/join' method='POST'>
        <button type='submit'>
          Delete
        </button>

      </form>
    </div>

  {{/each}}

</div>