<div class='topProfile'>
  <a  href="#profile" class='waves-effect grey darken-4 btn-large'> <b> Profile </b> </a>
</div>

<div class='createUser'>
  <div class='formContainerSign'>

  {{#if foundUser}}
    <div>
      <h5 id="profile">
        Hi
        {{foundUser.username}}, your account its
        {{foundUser.role}}
      </h5>
    </div>


    <div class='teamInfo'>
      <div class='teamInfoContainer'>
      <h2>Your Teams</h2>
      {{#each foundUser.team}}
      
          <h3>{{this.name}}</h3>
          {{#if ../isAdmin}}
          <a class='waves-effect red darken-1 btn-small' href='/user/team/{{this._id}}/edit'>Edit Team</a>
          <a class='waves-effect red darken-1 btn-small' href='/user/team/{{this._id}}'>Managment</a>
          <a class='waves-effect red darken-1 btn-small' href='/user/team/{{this._id}}/delete'>Delete Team</a>
          {{/if}}
       
      {{/each}}
      </div>
    </div>
  {{else}}
    <p>Aún no has iniciado sesión</p>
  {{/if}}
</div>
</div>