<div class="row">

  <div class="col s12 m6">

     <div class="card">

       <div class="card-image">
              <img
          src='https://miracomosehace.com/wp-content/uploads/2020/08/logo-League-of-Legends.jpg'
          alt='' />
          <span class="card-title">{{name}}</span>
          {{#if isAdmin}}
            <a href='/tournaments/{{_id}}/join' class="btn-floating halfway-fab waves-effect waves-light red"> <i class="material-icons">add</i></a>
            {{/if}}
       </div>

     <div class="card-content">
      <p>Game: {{game}} </br>  Description: {{description}}</br>   Number of Teams: {{numberOfTeams}}</p>
        </div>

      <div class="card-action">
       <a href='/tournaments'>Back</a>
      </div>

  
      <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        {{#each teams}}
         

          

        <li class="tab"><a href="#{{this.name}}">Team {{this.name}}</a></li>

            {{/each}}
        </ul>
        </div> 

          <div class="card-content grey lighten-4">
            {{#each teams}}
            <div id="{{this.name}}">
               <p>{{this.description}}</p>
              
                 {{#if ../currentUser}}

             <form action='/team/{{this.name}}/{{this._id}}' method='POST'>
             <button type='submit'>
                      Join Team
             </button>
            </form>
            {{/if}}


             {{#if ../isAdmin}}
           <form action='/tournaments/{{../_id}}/{{this._id}}/remove' method='POST'>
 
           <button type='submit'>
            Remove Team
           </button>

             </form>
     
              {{/if}}



            </div>
              {{/each}}
            
          </div>
      {{!-- Cierra el class del contendor --}}
            
             
    </div>
 
 
  </div>
</div>