<div>
  <img
    src='https://miracomosehace.com/wp-content/uploads/2020/08/logo-League-of-Legends.jpg'
    alt=''
    width='200'
    height='100'
  />
  <h1>{{name}}</h1>
  <h2>{{game}}</h2>
  <p>{{description}}</p>
  <p>Number of Teams: {{numberOfTeams}}</p>
{{#if isAdmin}}
  <a href='/tournaments/{{_id}}/join'>Register Team</a>
  {{/if}}
  <a href='/tournaments'>Back</a>

  {{#each teams}}
    <div>
      <h3> {{this.name}}</h3>
      <p>{{this.description}}</p>

      <!-- #if currentUser -->
      
    {{#if ../isAdmin}}
      <div>
      
      <form action='/team/{{this.name}}/{{this._id}}' method='POST'>
        <button type='submit'>
          Join Team
        </button>
      </form>
 
      <form action='/tournaments/{{../_id}}/{{this._id}}/remove' method='POST'>
 
        <button type='submit'>
          Remove Team
        </button>

      </form>
     
  
      </div>
      {{/if}}
  <!-- /if -->

    </div>
  {{/each}}
</div>