<div>
  <img
    src='https://miracomosehace.com/wp-content/uploads/2020/08/logo-League-of-Legends.jpg'
    alt=''
    width='200'
    height='100'
  />
  <h1>{{name}}</h1>
  <h2>{{game}}</h2>
  <p>{{description}}</p>
  <p>Number of Teams: {{numberOfTeams}}</p>

  <a href='/tournaments/{{_id}}/join'>Register Team</a>
  <a href='/tournaments'>Back</a>
  {{#each teams}}
    <div>
      <h3> {{this.name}}</h3>
      <p>{{this.description}}</p>
      <form action='/team/{{this.name}}/{{this._id}}' method='POST'>
        <button type='submit'>
          JOIN TEAM
        </button>
      </form>
    </div>
  {{/each}}
</div>