<div>
  <img
    src='https://miracomosehace.com/wp-content/uploads/2020/08/logo-League-of-Legends.jpg'
    alt=''
    width='200'
    height='100'
  />
  <h1>{{name}}</h1>
  <h2>{{game}}</h2>
  <p>{{description}}</p>
  <p>Number of Teams: {{numberOfTeams}}</p>
  <p>{{teams}}</p>
  <a href='/tournaments'>Back</a>
</div>