<div class='topTourlist'>
  <a href='#list' class='waves-effect grey darken-4 btn-large'> <b>Tournament list </b> </a>
  
</div>
<br>
<div class="e">
<div id="list" class="row ">
{{#each tournamentList}}
  <div class="col s12 m6">
    <div class="card grey darken-4">
      <div class="card-image">
    <img
      src='https://miracomosehace.com/wp-content/uploads/2020/08/logo-League-of-Legends.jpg'
      alt=''
    
    />
     <span class="card-title">{{this.game}}||{{this.name}}</span>
    </div>
    <div class="card-content">
          <p>{{this.description}}</p>
        </div>
<div class="card-action tcard">
 <a class='waves-effect red darken-1 btn-large' href='/tournaments/{{this._id}}'>More Details</a>
    {{#if ../isAdmin}}
      <a  class='waves-effect red darken-1 btn-large'href='/tournaments/{{this._id}}/edit'>Edit tournament</a>
      <a class='waves-effect red darken-1 btn-large' href='/tournaments/{{this._id}}/delete'>Delete tournament</a>
    {{/if}}
  </div>
   
    </div>
  </div>

{{/each}}

</div>
</div>

<script>
  document.addEventListener(
  "DOMContentLoaded",
  () => {

    const urlParams = new URLSearchParams(window.location.search);
    const myParam = urlParams.get('success');
    
  if(myParam){

 Swal.fire({
    title: 'Success!',
   text: 'Wait to be acepted',
    icon: 'success',
    confirmButtonText: 'Done'
  })

  }
  
  },
  false
);
     
</script>